@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  scroll-behavior: smooth !important;
  font-family: "Almarai", sans-serif;
  overscroll-behavior: none;
}

a {
  color: inherit;
  text-decoration: none;
}

body::-webkit-scrollbar {
  width: 5px;
  cursor: pointer;
  border-radius: 10px;
}

body::-webkit-scrollbar-track {
  border-color: #00ff33;
  background-color: #000000;
}

body::-webkit-scrollbar-thumb {
  background-color: #00ff33;
  cursor: pointer;
  margin-right: 5px;
  height: 10px;
}

.product-title {
  background: url("https://i.ibb.co/HTXybWx/zTF1Pzd.gif");
  /* add filter for changing its color */
  filter: hue-rotate(180deg) contrast(1.3);
  width: max-content;
}

.textwrapping {
  text-wrap: wrap;
}
/* leaf animations */

#leaves {
  position: absolute;
  top: -80px;
  width: 100%;
  text-align: right;
}

#leaves i {
  display: inline-block;
  width: 200px;
  height: 150px;
  background: linear-gradient(to bottom right, #309900, #005600);
  transform: skew(20deg);
  border-radius: 5% 40% 70%;
  box-shadow: inset 0px 0px 1px #222;
  border: 1px solid #333;
  z-index: 1;
  animation: falling 5s infinite;
}

#leaves i:nth-of-type(2n) {
  animation: falling2 5s infinite;
}
#leaves i:nth-of-type(3n) {
  animation: falling3 5s infinite;
}

#leaves i:before {
  position: absolute;
  content: "";
  top: 117px;
  right: 9px;
  height: 27px;
  width: 32px;
  transform: rotate(49deg);
  border-radius: 0% 15% 15% 0%;
  border-top: 1px solid #222;
  border-bottom: 1px solid #222;
  border-left: 0px solid #222;
  border-right: 1px solid #222;
  background: linear-gradient(to right, rgba(0, 100, 0, 1), #005600);
  z-index: 1;
}

#leaves i:after {
  content: "";
  height: 125px;
  width: 10px;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
  display: block;
  transform: rotate(125deg);
  position: absolute;
  left: 85px;
  border-radius: 50%;
}

#leaves i:nth-of-type(n) {
  height: 23px;
  width: 30px;
}
#leaves i:nth-of-type(n):before {
  width: 7px;
  height: 5px;
  top: 17px;
  right: 1px;
}
#leaves i:nth-of-type(n):after {
  width: 2px;
  height: 17px;
  left: 12px;
  top: 0px;
}

#leaves i:nth-of-type(2n + 1) {
  height: 11px;
  width: 16px;
}
#leaves i:nth-of-type(2n + 1):before {
  width: 4px;
  height: 3px;
  top: 7px;
  right: 0px;
}
#leaves i:nth-of-type(2n + 1):after {
  width: 2px;
  height: 6px;
  left: 5px;
  top: 1px;
}

#leaves i:nth-of-type(3n + 2) {
  height: 17px;
  width: 23px;
}
#leaves i:nth-of-type(3n + 2):before {
  height: 4px;
  width: 4px;
  top: 12px;
  right: 1px;
}
#leaves i:nth-of-type(3n + 2):after {
  height: 10px;
  width: 2px;
  top: 1px;
  left: 8px;
}

#leaves i:nth-of-type(n) {
  -webkit-animation-delay: 1.9s;
}
#leaves i:nth-of-type(2n) {
  -webkit-animation-delay: 3.9s;
}
#leaves i:nth-of-type(3n) {
  -webkit-animation-delay: 2.3s;
}
#leaves i:nth-of-type(4n) {
  -webkit-animation-delay: 4.4s;
}
#leaves i:nth-of-type(5n) {
  -webkit-animation-delay: 5s;
}
#leaves i:nth-of-type(6n) {
  -webkit-animation-delay: 3.5s;
}
#leaves i:nth-of-type(7n) {
  -webkit-animation-delay: 2.8s;
}
#leaves i:nth-of-type(8n) {
  -webkit-animation-delay: 1.5s;
}
#leaves i:nth-of-type(9n) {
  -webkit-animation-delay: 3.3s;
}
#leaves i:nth-of-type(10n) {
  -webkit-animation-delay: 2.5s;
}
#leaves i:nth-of-type(11n) {
  -webkit-animation-delay: 1.2s;
}
#leaves i:nth-of-type(12n) {
  -webkit-animation-delay: 4.1s;
}
#leaves i:nth-of-type(13n) {
  -webkit-animation-delay: 1s;
}
#leaves i:nth-of-type(14n) {
  -webkit-animation-delay: 4.7s;
}
#leaves i:nth-of-type(15n) {
  -webkit-animation-delay: 3s;
}

/* Repeat the above pattern for additional n values up to 40 */
/*
#leaves i:nth-of-type(16n) {
  -webkit-animation-delay: 1.6s;
}
#leaves i:nth-of-type(17n) {
  -webkit-animation-delay: 2.7s;
}
#leaves i:nth-of-type(18n) {
  -webkit-animation-delay: 3.8s;
}
#leaves i:nth-of-type(19n) {
  -webkit-animation-delay: 4.9s;
}
#leaves i:nth-of-type(20n) {
  -webkit-animation-delay: 1s;
}
#leaves i:nth-of-type(21n) {
  -webkit-animation-delay: 2.1s;
}
#leaves i:nth-of-type(22n) {
  -webkit-animation-delay: 3.2s;
}
#leaves i:nth-of-type(23n) {
  -webkit-animation-delay: 4.3s;
}
#leaves i:nth-of-type(24n) {
  -webkit-animation-delay: 1.4s;
}
#leaves i:nth-of-type(25n) {
  -webkit-animation-delay: 2.5s;
}
#leaves i:nth-of-type(26n) {
  -webkit-animation-delay: 3.6s;
}
#leaves i:nth-of-type(27n) {
  -webkit-animation-delay: 4.7s;
}
#leaves i:nth-of-type(28n) {
  -webkit-animation-delay: 1.8s;
}
#leaves i:nth-of-type(29n) {
  -webkit-animation-delay: 2.9s;
}
#leaves i:nth-of-type(30n) {
  -webkit-animation-delay: 4s;
}
#leaves i:nth-of-type(31n) {
  -webkit-animation-delay: 1.1s;
}
#leaves i:nth-of-type(32n) {
  -webkit-animation-delay: 2.2s;
}
#leaves i:nth-of-type(33n) {
  -webkit-animation-delay: 3.3s;
}
#leaves i:nth-of-type(34n) {
  -webkit-animation-delay: 4.4s;
}
#leaves i:nth-of-type(35n) {
  -webkit-animation-delay: 1.5s;
}
#leaves i:nth-of-type(36n) {
  -webkit-animation-delay: 2.6s;
}
#leaves i:nth-of-type(37n) {
  -webkit-animation-delay: 3.7s;
}
#leaves i:nth-of-type(38n) {
  -webkit-animation-delay: 4.8s;
}
#leaves i:nth-of-type(39n) {
  -webkit-animation-delay: 1.9s;
}
#leaves i:nth-of-type(40n) {
  -webkit-animation-delay: 2s;
}
*/
#leaves i:nth-of-type(n) {
  background: linear-gradient(to bottom right, #309900, #005600);
}
#leaves i:nth-of-type(2n + 2) {
  background: linear-gradient(to bottom right, #5e9900, #2b5600);
}
#leaves i:nth-of-type(4n + 1) {
  background: linear-gradient(to bottom right, #990, #564500);
}

#leaves i:nth-of-type(n) {
  opacity: 0.7;
}
#leaves i:nth-of-type(3n + 1) {
  opacity: 0.5;
}
#leaves i:nth-of-type(3n + 2) {
  opacity: 0.3;
}

#leaves i:nth-of-type(n) {
  transform: rotate(180deg);
}

#leaves i:nth-of-type(n) {
  -webkit-animation-timing-function: ease-in-out;
}

@keyframes falling {
  0% {
    transform: translate3d(300, 0, 0) rotate(0deg);
  }

  100% {
    transform: translate3d(-650px, 1080px, 0) rotate(150deg);
    opacity: 0;
  }
}

@keyframes falling3 {
  0% {
    transform: translate3d(0, 0, 0) rotate(-20deg);
  }

  100% {
    transform: translate3d(-330px, 1080px, 0) rotate(-70deg);
    opacity: 0;
  }
}

@keyframes falling2 {
  0% {
    transform: translate3d(0, 0, 0) rotate(90deg);
  }

  100% {
    transform: translate3d(-800px, 1080px, 0) rotate(20deg);
    opacity: 0;
  }
}

/* sellpass css */
.sellpass-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
}

.sellpass-iframe-wrapper {
  position: relative;
  margin: auto;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;

  transition: opacity 0.2s linear;
}

.sellpass-iframe-wrapper.show {
  opacity: 1;
}

.sellpass-iframe-backdrop {
  background: #00000075;
  backdrop-filter: blur(3px);
  width: 100%;
  height: 100%;
  position: absolute;
}

.sellpass-iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.sellpass-spinner {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80px;
  height: 80px;
}
.sellpass-spinner div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 3px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.sellpass-spinner div:nth-child(1) {
  animation-delay: -0.45s;
}
.sellpass-spinner div:nth-child(2) {
  animation-delay: -0.3s;
}
.sellpass-spinner div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.rotate_logo {
  animation: rotate 5s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Stars Background */
.big-stars {
  width: 2px;
  height: 2px;
  box-shadow: 1607px 2728px #ffffff, 2450px 2110px #ffffff,
    2487px 1523px #ffffff, 55px 3707px #ffffff, 1325px 3341px #ffffff,
    379px 2608px #ffffff, 957px 2323px #ffffff, 1276px 1468px #ffffff,
    2213px 78px #ffffff, 1272px 1373px #ffffff, 1890px 595px #ffffff,
    933px 1133px #ffffff, 760px 549px #ffffff, 269px 2829px #ffffff,
    747px 3053px #ffffff, 2287px 1416px #ffffff, 2433px 3436px #ffffff,
    110px 1880px #ffffff, 2208px 3133px #ffffff, 2269px 2729px #ffffff,
    679px 1473px #ffffff, 2140px 684px #ffffff, 1276px 2717px #ffffff,
    2220px 2309px #ffffff, 1676px 468px #ffffff, 1726px 3023px #ffffff,
    1498px 419px #ffffff, 2024px 2677px #ffffff, 1325px 175px #ffffff,
    296px 1729px #ffffff, 2388px 1037px #ffffff, 2335px 815px #ffffff,
    634px 178px #ffffff, 1019px 3324px #ffffff, 1807px 2424px #ffffff,
    1943px 3245px #ffffff, 2253px 2394px #ffffff, 554px 3637px #ffffff,
    1420px 3710px #ffffff, 1462px 125px #ffffff, 803px 2919px #ffffff,
    2261px 3658px #ffffff, 1331px 1607px #ffffff, 2153px 2862px #ffffff,
    127px 3437px #ffffff, 642px 1825px #ffffff, 994px 678px #ffffff,
    1489px 3675px #ffffff, 2169px 801px #ffffff, 1003px 634px #ffffff,
    1425px 3399px #ffffff, 2164px 486px #ffffff, 1017px 160px #ffffff,
    1897px 1838px #ffffff, 1403px 1040px #ffffff, 1460px 2834px #ffffff,
    582px 2254px #ffffff, 1031px 3595px #ffffff, 1685px 704px #ffffff,
    1571px 1236px #ffffff, 1708px 3496px #ffffff, 195px 5px #ffffff,
    717px 543px #ffffff, 1689px 1872px #ffffff, 415px 2832px #ffffff,
    2095px 3306px #ffffff, 2039px 3214px #ffffff, 153px 780px #ffffff,
    2415px 736px #ffffff, 1129px 2734px #ffffff, 75px 15px #ffffff,
    287px 286px #ffffff, 168px 3256px #ffffff, 1419px 911px #ffffff,
    1082px 3361px #ffffff, 752px 791px #ffffff, 1936px 3583px #ffffff,
    1603px 2967px #ffffff, 970px 3310px #ffffff, 144px 349px #ffffff,
    1277px 3772px #ffffff, 494px 3110px #ffffff, 834px 3204px #ffffff,
    600px 1401px #ffffff, 1963px 2148px #ffffff, 2156px 2542px #ffffff,
    115px 3024px #ffffff, 800px 1376px #ffffff, 2384px 474px #ffffff,
    1198px 3132px #ffffff, 1745px 761px #ffffff, 638px 3959px #ffffff,
    198px 2225px #ffffff, 2483px 453px #ffffff, 1084px 1361px #ffffff,
    156px 3903px #ffffff, 2259px 1877px #ffffff, 1248px 3244px #ffffff,
    571px 3909px #ffffff, 2352px 3648px #ffffff, 762px 2575px #ffffff,
    557px 1202px #ffffff, 1663px 2346px #ffffff, 1201px 460px #ffffff,
    177px 410px #ffffff, 2261px 2786px #ffffff, 341px 599px #ffffff,
    250px 2337px #ffffff, 1858px 2618px #ffffff, 1973px 2642px #ffffff,
    604px 1021px #ffffff, 2193px 2004px #ffffff, 280px 1842px #ffffff,
    629px 3594px #ffffff, 254px 781px #ffffff, 2448px 2072px #ffffff,
    1324px 3923px #ffffff, 1479px 3559px #ffffff, 1258px 3643px #ffffff,
    2433px 2770px #ffffff, 1019px 1729px #ffffff, 604px 2340px #ffffff,
    651px 1494px #ffffff, 1030px 746px #ffffff, 965px 2983px #ffffff,
    581px 2811px #ffffff, 1089px 667px #ffffff, 263px 3772px #ffffff,
    909px 2247px #ffffff, 873px 2428px #ffffff, 1913px 1388px #ffffff,
    422px 2905px #ffffff, 2058px 1553px #ffffff, 1803px 1739px #ffffff,
    1666px 2445px #ffffff, 334px 196px #ffffff, 1234px 2149px #ffffff,
    2377px 3239px #ffffff, 2016px 206px #ffffff, 306px 1060px #ffffff,
    121px 649px #ffffff, 2194px 3894px #ffffff, 2322px 2428px #ffffff,
    265px 2987px #ffffff, 1901px 2147px #ffffff, 132px 2636px #ffffff,
    1733px 177px #ffffff, 1863px 3059px #ffffff, 492px 3591px #ffffff,
    783px 19px #ffffff, 1957px 3075px #ffffff, 1044px 2742px #ffffff,
    1640px 3789px #ffffff, 61px 1392px #ffffff, 463px 1045px #ffffff,
    1418px 628px #ffffff, 1012px 716px #ffffff, 2022px 85px #ffffff,
    592px 448px #ffffff, 2478px 449px #ffffff, 1761px 3371px #ffffff,
    1703px 1074px #ffffff, 489px 841px #ffffff, 1447px 2217px #ffffff,
    1837px 1420px #ffffff, 1637px 1070px #ffffff, 1744px 2110px #ffffff,
    2040px 1407px #ffffff, 2296px 791px #ffffff, 1603px 289px #ffffff,
    834px 104px #ffffff, 503px 1192px #ffffff, 935px 2924px #ffffff,
    168px 2350px #ffffff, 1285px 2649px #ffffff, 861px 1541px #ffffff,
    1521px 222px #ffffff, 1959px 2218px #ffffff, 524px 204px #ffffff,
    2261px 860px #ffffff, 1654px 2559px #ffffff, 2264px 1552px #ffffff,
    1865px 1268px #ffffff, 2409px 1186px #ffffff, 787px 1770px #ffffff,
    1031px 3592px #ffffff, 1956px 1510px #ffffff, 2203px 2279px #ffffff,
    626px 794px #ffffff, 91px 3186px #ffffff, 85px 2645px #ffffff,
    1526px 677px #ffffff, 1498px 1078px #ffffff, 2167px 2384px #ffffff,
    2383px 2691px #ffffff, 933px 3507px #ffffff, 1735px 708px #ffffff,
    186px 1844px #ffffff, 1723px 897px #ffffff, 1710px 718px #ffffff;
}
.medium-stars {
  width: 1.5px;
  height: 1.5px;
  box-shadow: 2246px 2264px #00ff33, 1500px 1625px #00ff33, 224px 3933px #00ff33,
    107px 3319px #00ff33, 96px 1717px #00ff33, 1403px 33px #00ff33,
    2218px 169px #00ff33, 1945px 1388px #00ff33, 653px 184px #00ff33,
    424px 3502px #00ff33, 832px 3596px #00ff33, 1474px 540px #00ff33,
    2082px 3304px #00ff33, 53px 1389px #00ff33, 1895px 3349px #00ff33,
    480px 1681px #00ff33, 1051px 3968px #00ff33, 152px 1546px #00ff33,
    687px 3525px #00ff33, 2047px 371px #00ff33, 2142px 3582px #00ff33,
    1684px 1843px #00ff33, 1937px 591px #00ff33, 2321px 789px #00ff33,
    844px 2197px #00ff33, 1866px 1470px #00ff33, 2428px 2946px #00ff33,
    2227px 393px #00ff33, 355px 3437px #00ff33, 1075px 3690px #00ff33,
    2006px 194px #00ff33, 1883px 88px #00ff33, 1485px 1285px #00ff33,
    533px 1767px #00ff33, 1690px 2250px #00ff33, 1832px 2373px #00ff33,
    1301px 3915px #00ff33, 1383px 201px #00ff33, 700px 3158px #00ff33,
    1274px 3687px #00ff33, 1941px 2416px #00ff33, 2363px 707px #00ff33,
    648px 2716px #00ff33, 1922px 1382px #00ff33, 131px 3689px #00ff33,
    568px 3989px #00ff33, 169px 1642px #00ff33, 397px 1884px #00ff33,
    421px 347px #00ff33, 1893px 2694px #00ff33, 1887px 575px #00ff33,
    581px 1907px #00ff33, 585px 768px #00ff33, 2001px 1589px #00ff33,
    1531px 1957px #00ff33, 1773px 1307px #00ff33, 1401px 3793px #00ff33,
    873px 58px #00ff33, 653px 3680px #00ff33, 988px 3662px #00ff33,
    200px 674px #00ff33, 1060px 2834px #00ff33, 1999px 1717px #00ff33,
    556px 2563px #00ff33, 404px 899px #00ff33, 308px 2167px #00ff33,
    1827px 3679px #00ff33, 306px 3294px #00ff33, 809px 3828px #00ff33,
    746px 3012px #00ff33, 2079px 1999px #00ff33, 2408px 3943px #00ff33,
    2319px 3046px #00ff33, 1635px 2962px #00ff33, 1402px 1514px #00ff33,
    903px 2973px #00ff33, 1557px 708px #00ff33, 2269px 1606px #00ff33,
    335px 2434px #00ff33, 1272px 3998px #00ff33, 2012px 19px #00ff33,
    1888px 3038px #00ff33, 839px 2669px #00ff33, 1713px 2798px #00ff33,
    2192px 489px #00ff33, 799px 1100px #00ff33, 1326px 347px #00ff33,
    2113px 834px #00ff33, 1083px 188px #00ff33, 1998px 3120px #00ff33,
    1332px 1381px #00ff33, 682px 1565px #00ff33, 1992px 1814px #00ff33,
    1899px 22px #00ff33, 1736px 480px #00ff33, 1352px 188px #00ff33,
    31px 2220px #00ff33, 2367px 2964px #00ff33, 1870px 3913px #00ff33,
    1352px 1162px #00ff33, 2122px 3173px #00ff33, 1694px 350px #00ff33,
    310px 1147px #00ff33, 2295px 777px #00ff33, 1601px 887px #00ff33,
    1282px 1727px #00ff33, 2267px 1507px #00ff33, 2469px 755px #00ff33,
    2049px 1784px #00ff33, 1248px 1272px #00ff33, 1480px 368px #00ff33,
    10px 2922px #00ff33, 1273px 3536px #00ff33, 1725px 510px #00ff33,
    1946px 3178px #00ff33, 1861px 566px #00ff33, 824px 1596px #00ff33,
    2273px 3286px #00ff33, 38px 3558px #00ff33, 1133px 1374px #00ff33,
    1657px 125px #00ff33, 1373px 1954px #00ff33, 589px 3848px #00ff33,
    579px 1781px #00ff33, 1449px 814px #00ff33, 1304px 208px #00ff33,
    370px 2196px #00ff33, 1047px 1774px #00ff33, 1733px 388px #00ff33,
    2407px 6px #00ff33, 2308px 1548px #00ff33, 1825px 1240px #00ff33,
    730px 3616px #00ff33, 1186px 55px #00ff33, 42px 2956px #00ff33,
    2381px 1632px #00ff33, 108px 1922px #00ff33, 74px 2919px #00ff33,
    341px 2148px #00ff33, 1699px 3375px #00ff33, 2022px 1942px #00ff33,
    384px 3058px #00ff33, 17px 621px #00ff33, 2280px 2176px #00ff33,
    2367px 345px #00ff33, 1190px 1300px #00ff33, 2477px 516px #00ff33,
    2230px 3425px #00ff33, 1269px 3339px #00ff33, 2346px 2845px #00ff33,
    2165px 1023px #00ff33, 100px 3800px #00ff33, 1471px 526px #00ff33,
    472px 74px #00ff33, 1645px 1001px #00ff33, 858px 2428px #00ff33,
    300px 3531px #00ff33, 351px 510px #00ff33, 1558px 3590px #00ff33,
    1610px 1892px #00ff33, 2499px 2549px #00ff33, 1500px 31px #00ff33,
    976px 3600px #00ff33, 348px 3741px #00ff33, 533px 2528px #00ff33,
    1592px 1392px #00ff33, 588px 2751px #00ff33, 885px 3280px #00ff33,
    316px 2791px #00ff33, 1341px 3865px #00ff33, 574px 696px #00ff33,
    1062px 551px #00ff33, 1996px 1443px #00ff33, 1438px 2967px #00ff33,
    1969px 478px #00ff33, 415px 3542px #00ff33, 1444px 81px #00ff33,
    2468px 1944px #00ff33, 1432px 2648px #00ff33, 566px 3583px #00ff33,
    1084px 3197px #00ff33, 1039px 40px #00ff33, 1756px 2347px #00ff33,
    88px 3011px #00ff33, 2494px 3148px #00ff33, 98px 2713px #00ff33,
    741px 2180px #00ff33, 1113px 3817px #00ff33, 1950px 1480px #00ff33,
    1226px 2071px #00ff33, 617px 2954px #00ff33, 2043px 2875px #00ff33,
    1766px 1526px #00ff33, 355px 3946px #00ff33, 376px 808px #00ff33,
    1950px 528px #00ff33, 647px 2px #00ff33, 2323px 2717px #00ff33,
    1037px 1513px #00ff33, 1796px 207px #00ff33, 1416px 527px #00ff33,
    2027px 3087px #00ff33, 462px 1863px #00ff33, 2298px 38px #00ff33,
    317px 2811px #00ff33, 1250px 2665px #00ff33, 2px 3056px #00ff33,
    1217px 2971px #00ff33, 19px 1560px #00ff33, 2304px 2489px #00ff33,
    2198px 2610px #00ff33, 1336px 2728px #00ff33, 2398px 3911px #00ff33,
    2082px 2487px #00ff33, 135px 484px #00ff33, 826px 863px #00ff33,
    2404px 242px #00ff33, 1578px 1260px #00ff33, 233px 1739px #00ff33,
    2415px 3276px #00ff33, 1634px 913px #00ff33, 1099px 3965px #00ff33,
    1354px 2504px #00ff33, 101px 123px #00ff33, 1473px 1445px #00ff33,
    2012px 2204px #00ff33, 1076px 3607px #00ff33, 1978px 1873px #00ff33,
    1467px 3044px #00ff33, 649px 3560px #00ff33, 1441px 1557px #00ff33,
    2138px 1390px #00ff33, 1894px 3554px #00ff33, 1743px 2945px #00ff33,
    842px 2130px #00ff33, 1299px 1178px #00ff33, 2395px 3236px #00ff33,
    596px 3191px #00ff33, 2193px 1248px #00ff33, 2190px 3673px #00ff33,
    70px 3639px #00ff33, 2218px 1300px #00ff33, 2159px 2590px #00ff33,
    1095px 3029px #00ff33, 2496px 1841px #00ff33, 1616px 3725px #00ff33,
    1595px 554px #00ff33, 580px 3470px #00ff33, 143px 1644px #00ff33,
    978px 3596px #00ff33, 1819px 616px #00ff33, 1826px 3073px #00ff33,
    891px 3754px #00ff33, 2179px 883px #00ff33, 1782px 2512px #00ff33,
    1366px 2383px #00ff33, 1075px 3377px #00ff33, 2015px 2461px #00ff33,
    1134px 2753px #00ff33, 1640px 2007px #00ff33, 2100px 3798px #00ff33,
    1182px 2885px #00ff33, 1636px 1998px #00ff33, 2325px 328px #00ff33,
    1952px 3701px #00ff33, 863px 1803px #00ff33, 2060px 1173px #00ff33,
    1719px 929px #00ff33, 263px 3432px #00ff33, 1216px 3718px #00ff33,
    2033px 3958px #00ff33, 1879px 1889px #00ff33, 2230px 817px #00ff33,
    2019px 289px #00ff33, 16px 3223px #00ff33, 2205px 3344px #00ff33,
    2163px 2285px #00ff33, 1316px 3512px #00ff33, 1293px 2779px #00ff33,
    463px 1753px #00ff33, 2465px 811px #00ff33, 747px 937px #00ff33,
    1107px 1537px #00ff33, 1057px 3492px #00ff33, 1269px 1572px #00ff33,
    388px 3099px #00ff33, 823px 2069px #00ff33, 1851px 1852px #00ff33,
    1805px 3925px #00ff33, 1766px 2801px #00ff33, 64px 2125px #00ff33,
    2174px 3484px #00ff33, 1954px 524px #00ff33, 345px 80px #00ff33,
    1301px 1548px #00ff33, 621px 455px #00ff33, 281px 3709px #00ff33,
    1592px 407px #00ff33, 730px 3385px #00ff33, 238px 1693px #00ff33,
    1995px 3464px #00ff33, 1067px 2829px #00ff33, 1415px 683px #00ff33,
    1316px 1536px #00ff33, 1592px 1485px #00ff33, 2139px 1649px #00ff33,
    1641px 2168px #00ff33, 347px 300px #00ff33, 992px 2279px #00ff33,
    1305px 2799px #00ff33, 872px 722px #00ff33, 1550px 1075px #00ff33,
    1608px 3058px #00ff33, 1783px 2008px #00ff33, 1097px 2345px #00ff33,
    298px 1814px #00ff33, 2317px 2711px #00ff33, 2186px 1635px #00ff33,
    1578px 3102px #00ff33, 896px 3155px #00ff33, 2452px 122px #00ff33,
    2415px 736px #00ff33, 1488px 2299px #00ff33, 149px 2215px #00ff33,
    1988px 1035px #00ff33, 2213px 3554px #00ff33, 1383px 2940px #00ff33,
    2237px 1258px #00ff33, 1439px 3607px #00ff33, 2490px 3647px #00ff33,
    1871px 2842px #00ff33, 1812px 3238px #00ff33, 79px 2857px #00ff33,
    746px 1365px #00ff33, 509px 2975px #00ff33, 697px 1625px #00ff33,
    903px 1348px #00ff33, 1506px 3645px #00ff33, 2048px 1527px #00ff33,
    1780px 1979px #00ff33, 502px 2449px #00ff33, 1233px 2787px #00ff33,
    1744px 2899px #00ff33, 1224px 145px #00ff33, 214px 1576px #00ff33,
    1820px 2564px #00ff33, 422px 3578px #00ff33, 454px 2385px #00ff33,
    651px 2789px #00ff33, 2401px 3327px #00ff33, 2049px 1168px #00ff33,
    503px 1083px #00ff33, 2253px 3300px #00ff33, 1528px 1532px #00ff33,
    483px 3838px #00ff33, 1665px 25px #00ff33, 2381px 3814px #00ff33,
    845px 572px #00ff33, 196px 3815px #00ff33, 1678px 2830px #00ff33,
    1451px 1394px #00ff33, 1097px 724px #00ff33, 1169px 3701px #00ff33,
    1895px 3889px #00ff33, 818px 3447px #00ff33, 1448px 3638px #00ff33,
    374px 3796px #00ff33, 1362px 3846px #00ff33, 1243px 3501px #00ff33,
    2414px 3028px #00ff33, 631px 137px #00ff33, 2232px 3491px #00ff33,
    1857px 2138px #00ff33, 897px 1101px #00ff33, 1894px 2046px #00ff33,
    1254px 537px #00ff33, 1889px 973px #00ff33, 1130px 61px #00ff33,
    196px 3284px #00ff33, 2097px 1275px #00ff33, 920px 594px #00ff33,
    1708px 269px #00ff33, 1874px 22px #00ff33, 749px 1026px #00ff33,
    1716px 3961px #00ff33, 194px 1802px #00ff33, 229px 847px #00ff33,
    2419px 908px #00ff33, 1867px 990px #00ff33, 2027px 1499px #00ff33,
    427px 1860px #00ff33, 1941px 2945px #00ff33, 1655px 212px #00ff33,
    875px 1884px #00ff33, 388px 3567px #00ff33, 662px 3132px #00ff33,
    693px 2305px #00ff33, 41px 687px #00ff33, 1580px 3291px #00ff33,
    603px 519px #00ff33, 1655px 494px #00ff33, 141px 781px #00ff33,
    2077px 2351px #00ff33, 2085px 355px #00ff33, 2349px 3785px #00ff33,
    2222px 98px #00ff33, 1482px 3230px #00ff33, 1422px 2386px #00ff33,
    1727px 276px #00ff33, 1154px 1844px #00ff33, 2251px 3752px #00ff33,
    803px 896px #00ff33, 629px 1420px #00ff33, 1926px 1637px #00ff33,
    2062px 258px #00ff33, 97px 784px #00ff33, 1627px 464px #00ff33,
    1807px 3360px #00ff33, 742px 2755px #00ff33, 1719px 677px #00ff33,
    2142px 816px #00ff33, 2128px 2043px #00ff33, 163px 850px #00ff33,
    2464px 2126px #00ff33, 2178px 829px #00ff33, 1205px 2498px #00ff33,
    1561px 3595px #00ff33, 2062px 2806px #00ff33, 2446px 3789px #00ff33,
    2391px 934px #00ff33, 1116px 2355px #00ff33, 740px 309px #00ff33,
    2456px 391px #00ff33, 1620px 1367px #00ff33, 2055px 2932px #00ff33,
    958px 2829px #00ff33, 2155px 2530px #00ff33, 239px 573px #00ff33,
    125px 1240px #00ff33, 2346px 239px #00ff33, 792px 3484px #00ff33,
    1411px 3014px #00ff33, 821px 3887px #00ff33, 400px 2991px #00ff33,
    437px 1179px #00ff33, 622px 129px #00ff33, 323px 3672px #00ff33,
    2441px 349px #00ff33, 1414px 3831px #00ff33, 1265px 3085px #00ff33,
    317px 1968px #00ff33, 1788px 990px #00ff33, 1646px 3280px #00ff33,
    2073px 1123px #00ff33, 938px 1937px #00ff33, 551px 439px #00ff33,
    1172px 3825px #00ff33, 569px 1465px #00ff33, 132px 1901px #00ff33,
    1612px 2811px #00ff33, 2391px 3029px #00ff33, 1529px 1152px #00ff33,
    2475px 3454px #00ff33, 72px 130px #00ff33, 1212px 3190px #00ff33,
    977px 2564px #00ff33, 1067px 3668px #00ff33, 87px 2703px #00ff33,
    35px 726px #00ff33, 404px 2240px #00ff33, 2291px 3795px #00ff33,
    1862px 3026px #00ff33, 641px 422px #00ff33, 716px 2890px #00ff33,
    1313px 410px #00ff33, 328px 2674px #00ff33, 1533px 3303px #00ff33,
    66px 1381px #00ff33, 1153px 2318px #00ff33, 1085px 1684px #00ff33,
    564px 577px #00ff33, 1529px 3642px #00ff33, 1367px 3168px #00ff33,
    232px 2727px #00ff33, 1854px 1331px #00ff33, 206px 1175px #00ff33,
    2242px 366px #00ff33, 759px 1079px #00ff33, 1291px 2629px #00ff33,
    1403px 3606px #00ff33, 257px 304px #00ff33, 2407px 2072px #00ff33,
    1243px 842px #00ff33, 2175px 1039px #00ff33, 204px 3686px #00ff33,
    988px 3610px #00ff33, 697px 260px #00ff33, 2175px 671px #00ff33,
    288px 3062px #00ff33, 629px 3123px #00ff33;
}

.small-stars {
  width: 1px;
  height: 1px;
  box-shadow: 1144px 2117px #ffffff, 1444px 1172px #ffffff,
    2175px 2986px #ffffff, 517px 3336px #ffffff, 717px 570px #ffffff,
    142px 3962px #ffffff, 1629px 3047px #ffffff, 1422px 932px #ffffff,
    1732px 1753px #ffffff, 1913px 151px #ffffff, 1166px 1246px #ffffff,
    2150px 1667px #ffffff, 804px 2099px #ffffff, 2472px 2323px #ffffff,
    909px 1274px #ffffff, 1049px 726px #ffffff, 223px 1416px #ffffff,
    999px 3882px #ffffff, 1686px 303px #ffffff, 2436px 425px #ffffff,
    1738px 3690px #ffffff, 1419px 3995px #ffffff, 1778px 3544px #ffffff,
    654px 2539px #ffffff, 2082px 2084px #ffffff, 989px 787px #ffffff,
    404px 276px #ffffff, 1119px 1372px #ffffff, 199px 3416px #ffffff,
    2377px 45px #ffffff, 460px 2134px #ffffff, 1165px 927px #ffffff,
    1337px 695px #ffffff, 225px 3162px #ffffff, 568px 3454px #ffffff,
    2223px 3374px #ffffff, 2335px 1042px #ffffff, 2299px 3412px #ffffff,
    1839px 3163px #ffffff, 2199px 2135px #ffffff, 2082px 1838px #ffffff,
    2157px 1854px #ffffff, 1165px 887px #ffffff, 1351px 205px #ffffff,
    2226px 616px #ffffff, 1739px 2498px #ffffff, 1031px 2088px #ffffff,
    391px 1241px #ffffff, 845px 2735px #ffffff, 2079px 1267px #ffffff,
    24px 1197px #ffffff, 710px 1542px #ffffff, 1448px 1729px #ffffff,
    2500px 3768px #ffffff, 2403px 2430px #ffffff, 1789px 874px #ffffff,
    777px 1792px #ffffff, 2296px 2193px #ffffff, 1062px 3365px #ffffff,
    539px 1370px #ffffff, 2392px 1539px #ffffff, 1300px 3439px #ffffff,
    265px 603px #ffffff, 321px 1965px #ffffff, 1894px 182px #ffffff,
    1425px 1756px #ffffff, 1816px 356px #ffffff, 384px 172px #ffffff,
    158px 796px #ffffff, 237px 1920px #ffffff, 112px 1712px #ffffff,
    1319px 3658px #ffffff, 1837px 2884px #ffffff, 2242px 1619px #ffffff,
    1513px 2466px #ffffff, 2304px 2186px #ffffff, 1428px 96px #ffffff,
    973px 2473px #ffffff, 2220px 521px #ffffff, 352px 3201px #ffffff,
    719px 3486px #ffffff, 1249px 2541px #ffffff, 1755px 2019px #ffffff,
    974px 1330px #ffffff, 1261px 2510px #ffffff, 1357px 538px #ffffff,
    296px 696px #ffffff, 2164px 3087px #ffffff, 372px 2401px #ffffff,
    2440px 3595px #ffffff, 462px 2577px #ffffff, 736px 3321px #ffffff,
    1932px 625px #ffffff, 651px 1128px #ffffff, 1309px 1372px #ffffff,
    1691px 1125px #ffffff, 1869px 469px #ffffff, 2451px 567px #ffffff,
    1449px 71px #ffffff, 681px 2749px #ffffff, 1895px 316px #ffffff,
    434px 422px #ffffff, 923px 1404px #ffffff, 1756px 1642px #ffffff,
    123px 841px #ffffff, 2191px 2229px #ffffff, 1491px 2181px #ffffff,
    29px 1495px #ffffff, 1238px 1323px #ffffff, 240px 338px #ffffff,
    1483px 318px #ffffff, 1569px 2849px #ffffff, 2488px 2231px #ffffff,
    607px 2938px #ffffff, 42px 2484px #ffffff, 2021px 2710px #ffffff,
    1691px 918px #ffffff, 265px 118px #ffffff, 2334px 1680px #ffffff,
    1759px 3597px #ffffff, 158px 2935px #ffffff, 2407px 1965px #ffffff,
    2302px 3143px #ffffff, 2460px 2990px #ffffff, 1954px 2252px #ffffff,
    1414px 473px #ffffff, 398px 2520px #ffffff, 653px 849px #ffffff,
    686px 3815px #ffffff, 1038px 3607px #ffffff, 1721px 834px #ffffff,
    1699px 3816px #ffffff, 939px 3828px #ffffff, 1574px 457px #ffffff,
    933px 2196px #ffffff, 2171px 1480px #ffffff, 194px 877px #ffffff,
    1132px 2585px #ffffff, 2201px 3695px #ffffff, 103px 124px #ffffff,
    1213px 2060px #ffffff, 1597px 3654px #ffffff, 248px 1624px #ffffff,
    986px 958px #ffffff, 1825px 1433px #ffffff, 2089px 539px #ffffff,
    2345px 2px #ffffff, 1081px 703px #ffffff, 280px 1576px #ffffff,
    1313px 74px #ffffff, 1832px 1777px #ffffff, 951px 951px #ffffff,
    1793px 2857px #ffffff, 2249px 3706px #ffffff, 1386px 2023px #ffffff,
    538px 3481px #ffffff, 1871px 243px #ffffff, 1979px 2572px #ffffff,
    1099px 2334px #ffffff, 607px 1685px #ffffff, 421px 763px #ffffff,
    1432px 3581px #ffffff, 410px 2383px #ffffff, 2135px 3778px #ffffff,
    1275px 3806px #ffffff, 1163px 58px #ffffff, 1682px 3775px #ffffff,
    2049px 3490px #ffffff, 2494px 3385px #ffffff, 1554px 3825px #ffffff,
    519px 3891px #ffffff, 1549px 1355px #ffffff, 861px 1174px #ffffff,
    1864px 3687px #ffffff, 772px 1165px #ffffff, 705px 464px #ffffff,
    630px 3715px #ffffff, 705px 12px #ffffff, 362px 2694px #ffffff,
    1587px 679px #ffffff, 1667px 3539px #ffffff, 1736px 3925px #ffffff,
    983px 2738px #ffffff, 706px 1189px #ffffff, 327px 689px #ffffff,
    431px 355px #ffffff, 1226px 400px #ffffff, 1129px 1184px #ffffff,
    725px 1029px #ffffff, 1635px 1855px #ffffff, 309px 2506px #ffffff,
    1796px 2019px #ffffff, 1519px 3806px #ffffff, 802px 2631px #ffffff,
    256px 411px #ffffff, 584px 3938px #ffffff, 233px 2241px #ffffff,
    540px 1260px #ffffff, 415px 1691px #ffffff, 1883px 2628px #ffffff,
    2166px 823px #ffffff, 2313px 1783px #ffffff, 1172px 2170px #ffffff,
    248px 2675px #ffffff, 1367px 1623px #ffffff, 1527px 1901px #ffffff,
    1982px 2273px #ffffff, 2174px 2966px #ffffff, 2198px 2841px #ffffff,
    2019px 1352px #ffffff, 1776px 1019px #ffffff, 585px 3356px #ffffff,
    2240px 2604px #ffffff, 660px 1592px #ffffff, 813px 1393px #ffffff,
    1374px 2513px #ffffff, 2028px 2201px #ffffff, 309px 2330px #ffffff,
    2500px 1558px #ffffff, 795px 2471px #ffffff, 1694px 2544px #ffffff,
    683px 2493px #ffffff, 1390px 3542px #ffffff, 878px 1895px #ffffff,
    513px 2740px #ffffff, 1832px 872px #ffffff, 2212px 2598px #ffffff,
    1752px 982px #ffffff, 1159px 3464px #ffffff, 926px 1690px #ffffff,
    1995px 936px #ffffff, 997px 3322px #ffffff, 1164px 2497px #ffffff,
    1498px 207px #ffffff, 1964px 140px #ffffff, 305px 2006px #ffffff,
    194px 2425px #ffffff, 1204px 3740px #ffffff, 416px 3096px #ffffff,
    478px 1116px #ffffff, 2322px 3853px #ffffff, 1835px 2628px #ffffff,
    1394px 3652px #ffffff, 1381px 3517px #ffffff, 266px 1720px #ffffff,
    1673px 3211px #ffffff, 2127px 2439px #ffffff, 1217px 467px #ffffff,
    1649px 398px #ffffff, 2302px 1365px #ffffff, 2299px 1201px #ffffff,
    157px 2216px #ffffff, 2000px 3173px #ffffff, 468px 3323px #ffffff,
    1242px 3074px #ffffff, 1275px 738px #ffffff, 1988px 2198px #ffffff,
    1911px 2185px #ffffff, 2415px 65px #ffffff, 636px 2775px #ffffff,
    1850px 2393px #ffffff, 860px 3129px #ffffff, 721px 3624px #ffffff,
    1313px 2975px #ffffff, 1980px 1823px #ffffff, 1237px 157px #ffffff,
    793px 1279px #ffffff, 2325px 3803px #ffffff, 2032px 2501px #ffffff,
    792px 2654px #ffffff, 39px 735px #ffffff, 1631px 3857px #ffffff,
    891px 1770px #ffffff, 369px 795px #ffffff, 1536px 641px #ffffff,
    2402px 1792px #ffffff, 1637px 2765px #ffffff, 135px 1841px #ffffff,
    1692px 145px #ffffff, 432px 516px #ffffff, 743px 2696px #ffffff,
    135px 2814px #ffffff, 8px 2887px #ffffff, 2185px 3956px #ffffff,
    1617px 1236px #ffffff, 106px 2778px #ffffff, 2189px 1863px #ffffff,
    1417px 211px #ffffff, 1989px 2202px #ffffff, 1104px 637px #ffffff,
    1731px 3336px #ffffff, 914px 3103px #ffffff, 2109px 300px #ffffff,
    2425px 3912px #ffffff, 1556px 2437px #ffffff, 292px 681px #ffffff,
    698px 2595px #ffffff, 580px 966px #ffffff, 191px 255px #ffffff,
    647px 266px #ffffff, 1355px 97px #ffffff, 2168px 1045px #ffffff,
    1572px 1182px #ffffff, 2354px 1044px #ffffff, 1936px 2449px #ffffff,
    91px 1477px #ffffff, 1684px 1704px #ffffff, 886px 3473px #ffffff,
    1257px 3526px #ffffff, 2297px 3779px #ffffff, 1074px 3015px #ffffff,
    1950px 3111px #ffffff, 2219px 829px #ffffff, 2140px 1034px #ffffff,
    59px 2463px #ffffff, 2098px 3553px #ffffff, 2447px 2927px #ffffff,
    1185px 3710px #ffffff, 33px 3566px #ffffff, 2468px 3125px #ffffff,
    1472px 1027px #ffffff, 2236px 2828px #ffffff, 1820px 2658px #ffffff,
    880px 1449px #ffffff, 1395px 734px #ffffff, 2138px 1737px #ffffff,
    1633px 2129px #ffffff, 650px 2799px #ffffff, 663px 2704px #ffffff,
    232px 2717px #ffffff, 870px 1756px #ffffff, 1357px 988px #ffffff,
    1043px 3059px #ffffff, 906px 2126px #ffffff, 2015px 297px #ffffff,
    531px 1667px #ffffff, 2374px 3204px #ffffff, 659px 2183px #ffffff,
    185px 352px #ffffff, 1926px 2796px #ffffff, 295px 2251px #ffffff,
    552px 2828px #ffffff, 1223px 3046px #ffffff, 630px 1353px #ffffff,
    1676px 1177px #ffffff, 938px 1792px #ffffff, 172px 1710px #ffffff,
    1349px 1068px #ffffff, 1817px 2825px #ffffff, 1616px 1432px #ffffff,
    1699px 267px #ffffff, 1597px 44px #ffffff, 1624px 2500px #ffffff,
    1901px 944px #ffffff, 187px 1503px #ffffff, 160px 3093px #ffffff,
    872px 2756px #ffffff, 2337px 1052px #ffffff, 713px 1408px #ffffff,
    2161px 2714px #ffffff, 595px 3235px #ffffff, 116px 2589px #ffffff,
    1238px 3254px #ffffff, 2034px 1517px #ffffff, 1029px 783px #ffffff,
    2123px 938px #ffffff, 2407px 2393px #ffffff, 1717px 1542px #ffffff,
    1995px 1511px #ffffff, 664px 901px #ffffff, 149px 2296px #ffffff,
    2315px 2615px #ffffff, 1246px 658px #ffffff, 2329px 169px #ffffff,
    2014px 3647px #ffffff, 1643px 3976px #ffffff, 1138px 596px #ffffff,
    598px 310px #ffffff, 176px 1139px #ffffff, 363px 2570px #ffffff,
    834px 883px #ffffff, 185px 2911px #ffffff, 533px 1010px #ffffff,
    1364px 2561px #ffffff, 1031px 1590px #ffffff, 210px 3394px #ffffff,
    207px 1271px #ffffff, 2131px 2739px #ffffff, 525px 796px #ffffff,
    1112px 3605px #ffffff, 365px 676px #ffffff, 1848px 2384px #ffffff,
    2497px 1741px #ffffff, 132px 1671px #ffffff, 1707px 2800px #ffffff,
    1468px 3624px #ffffff, 2153px 2655px #ffffff, 1573px 2051px #ffffff,
    2422px 627px #ffffff, 1622px 3978px #ffffff, 380px 1463px #ffffff,
    2084px 566px #ffffff, 476px 824px #ffffff, 1901px 2158px #ffffff,
    2348px 2411px #ffffff, 1745px 1266px #ffffff, 972px 3908px #ffffff,
    13px 3569px #ffffff, 465px 2953px #ffffff, 1733px 3144px #ffffff,
    1358px 3726px #ffffff, 200px 3074px #ffffff, 537px 460px #ffffff,
    902px 2594px #ffffff, 2333px 1664px #ffffff, 1394px 514px #ffffff,
    1967px 428px #ffffff, 1866px 3216px #ffffff, 1650px 1612px #ffffff,
    2288px 331px #ffffff, 1485px 296px #ffffff, 1276px 1491px #ffffff,
    118px 186px #ffffff, 1535px 952px #ffffff, 1923px 2512px #ffffff,
    2378px 1226px #ffffff, 837px 1127px #ffffff, 1372px 479px #ffffff,
    2248px 1377px #ffffff, 857px 2578px #ffffff, 641px 3047px #ffffff,
    2164px 1406px #ffffff, 1994px 350px #ffffff, 528px 3099px #ffffff,
    1139px 3574px #ffffff, 688px 2252px #ffffff, 1139px 2724px #ffffff,
    738px 287px #ffffff, 1204px 2281px #ffffff, 793px 3004px #ffffff,
    1598px 515px #ffffff, 2159px 2256px #ffffff, 1275px 1203px #ffffff,
    1567px 2947px #ffffff, 831px 2397px #ffffff, 1776px 3769px #ffffff,
    462px 1853px #ffffff, 2373px 1179px #ffffff, 826px 2349px #ffffff,
    1311px 3389px #ffffff, 1511px 29px #ffffff, 117px 2016px #ffffff,
    647px 84px #ffffff, 2453px 3871px #ffffff, 1578px 1267px #ffffff,
    90px 3170px #ffffff, 1262px 2580px #ffffff, 647px 433px #ffffff,
    885px 3653px #ffffff, 2173px 556px #ffffff, 1863px 750px #ffffff,
    1810px 3755px #ffffff, 1174px 3994px #ffffff, 94px 1292px #ffffff,
    2294px 824px #ffffff, 1871px 2237px #ffffff, 420px 3409px #ffffff,
    686px 1153px #ffffff, 920px 1720px #ffffff, 642px 981px #ffffff,
    1415px 2199px #ffffff, 719px 2586px #ffffff, 2478px 1135px #ffffff,
    2490px 656px #ffffff, 403px 3026px #ffffff, 1535px 2587px #ffffff,
    521px 2333px #ffffff, 1121px 865px #ffffff, 2464px 2639px #ffffff,
    1838px 2547px #ffffff, 1569px 2470px #ffffff, 746px 2528px #ffffff,
    866px 843px #ffffff, 931px 1416px #ffffff, 1367px 2411px #ffffff,
    1705px 735px #ffffff, 1044px 1179px #ffffff, 1904px 1222px #ffffff,
    1567px 1175px #ffffff, 1799px 476px #ffffff, 879px 273px #ffffff,
    2216px 996px #ffffff, 2208px 159px #ffffff, 1837px 930px #ffffff,
    1298px 2040px #ffffff, 2207px 839px #ffffff, 375px 130px #ffffff,
    143px 1313px #ffffff, 1673px 3963px #ffffff, 520px 1639px #ffffff,
    622px 734px #ffffff, 171px 3184px #ffffff, 457px 281px #ffffff,
    1667px 3887px #ffffff, 1822px 1391px #ffffff, 1366px 3924px #ffffff,
    2157px 2090px #ffffff, 586px 2401px #ffffff, 2300px 2979px #ffffff,
    130px 680px #ffffff, 1386px 3347px #ffffff, 15px 2844px #ffffff,
    1159px 2165px #ffffff, 836px 868px #ffffff, 857px 3990px #ffffff,
    732px 3768px #ffffff, 2181px 1907px #ffffff, 2237px 1943px #ffffff,
    1640px 262px #ffffff, 775px 2367px #ffffff, 769px 1543px #ffffff,
    2143px 1145px #ffffff, 125px 1672px #ffffff, 1845px 3506px #ffffff,
    1306px 261px #ffffff, 1976px 2304px #ffffff, 170px 1191px #ffffff,
    1491px 3873px #ffffff, 803px 3756px #ffffff, 387px 2670px #ffffff,
    1528px 3436px #ffffff, 1293px 3175px #ffffff, 213px 1874px #ffffff,
    786px 2212px #ffffff, 1317px 1711px #ffffff, 676px 1431px #ffffff,
    282px 790px #ffffff, 529px 2010px #ffffff, 487px 1523px #ffffff,
    128px 614px #ffffff, 682px 2837px #ffffff, 783px 1746px #ffffff,
    2464px 2310px #ffffff, 2491px 1575px #ffffff, 1521px 786px #ffffff,
    1222px 105px #ffffff, 2147px 22px #ffffff, 212px 700px #ffffff,
    291px 591px #ffffff, 1031px 2327px #ffffff, 946px 472px #ffffff,
    535px 1122px #ffffff, 1371px 2563px #ffffff, 1454px 2303px #ffffff,
    712px 733px #ffffff, 1932px 362px #ffffff, 1695px 1885px #ffffff,
    1004px 2666px #ffffff, 420px 775px #ffffff, 1575px 3635px #ffffff,
    1438px 2735px #ffffff, 1697px 3679px #ffffff, 409px 2802px #ffffff,
    230px 3528px #ffffff, 2003px 1427px #ffffff, 2473px 2595px #ffffff,
    429px 2426px #ffffff, 1291px 2674px #ffffff, 1766px 2526px #ffffff,
    39px 823px #ffffff, 1604px 1242px #ffffff, 652px 2064px #ffffff,
    1071px 1664px #ffffff, 1569px 2125px #ffffff, 86px 900px #ffffff,
    2413px 502px #ffffff, 156px 390px #ffffff, 170px 66px #ffffff,
    1776px 934px #ffffff, 216px 3327px #ffffff, 245px 3132px #ffffff,
    24px 2642px #ffffff, 700px 3480px #ffffff, 708px 1145px #ffffff,
    1680px 1526px #ffffff, 1268px 1862px #ffffff, 1866px 924px #ffffff,
    2160px 2237px #ffffff, 240px 3704px #ffffff, 693px 10px #ffffff,
    1849px 2252px #ffffff, 250px 1178px #ffffff, 598px 1210px #ffffff,
    1994px 1897px #ffffff, 1483px 3736px #ffffff, 1423px 927px #ffffff,
    1124px 2829px #ffffff, 2045px 2480px #ffffff, 1696px 2784px #ffffff,
    2159px 2980px #ffffff, 1655px 1722px #ffffff, 361px 3606px #ffffff,
    861px 3021px #ffffff, 392px 3893px #ffffff, 622px 630px #ffffff,
    2172px 811px #ffffff, 1030px 2170px #ffffff, 315px 3559px #ffffff,
    1191px 739px #ffffff, 185px 3503px #ffffff, 1051px 1116px #ffffff,
    2286px 1430px #ffffff, 1351px 384px #ffffff, 1942px 1205px #ffffff,
    280px 2159px #ffffff, 771px 183px #ffffff, 611px 1495px #ffffff,
    143px 3387px #ffffff, 1807px 2327px #ffffff, 153px 464px #ffffff,
    2146px 3570px #ffffff, 1230px 3535px #ffffff, 1276px 286px #ffffff,
    2176px 3649px #ffffff, 1903px 3002px #ffffff, 1489px 3998px #ffffff,
    1661px 2684px #ffffff, 842px 2813px #ffffff, 1934px 3764px #ffffff,
    2026px 2022px #ffffff, 1544px 2482px #ffffff, 2367px 480px #ffffff,
    1340px 3796px #ffffff, 2301px 1089px #ffffff, 474px 1721px #ffffff,
    855px 1030px #ffffff, 241px 247px #ffffff, 1252px 1475px #ffffff,
    790px 3067px #ffffff, 1862px 301px #ffffff, 2070px 2036px #ffffff,
    1124px 1053px #ffffff, 395px 1224px #ffffff, 236px 1308px #ffffff,
    1008px 2916px #ffffff, 423px 1113px #ffffff, 2398px 204px #ffffff,
    1566px 2110px #ffffff, 2239px 2496px #ffffff, 1519px 2552px #ffffff,
    2003px 416px #ffffff, 34px 1468px #ffffff, 59px 2914px #ffffff,
    905px 1022px #ffffff, 2250px 3247px #ffffff, 1196px 3291px #ffffff,
    1784px 299px #ffffff, 2293px 2563px #ffffff, 327px 609px #ffffff,
    1265px 2696px #ffffff, 1975px 1819px #ffffff, 1156px 3815px #ffffff,
    202px 3622px #ffffff, 1749px 2907px #ffffff, 1514px 671px #ffffff,
    2088px 585px #ffffff, 2161px 1278px #ffffff, 995px 2590px #ffffff,
    1737px 1655px #ffffff, 664px 158px #ffffff, 2408px 3183px #ffffff,
    927px 10px #ffffff, 1233px 1567px #ffffff, 110px 499px #ffffff,
    1957px 1263px #ffffff, 1343px 11px #ffffff, 673px 590px #ffffff,
    1229px 3933px #ffffff, 2267px 3254px #ffffff, 1712px 1587px #ffffff,
    215px 367px #ffffff, 2062px 228px #ffffff, 31px 280px #ffffff,
    718px 2211px #ffffff, 1866px 3260px #ffffff, 2411px 3369px #ffffff,
    2472px 1386px #ffffff, 689px 600px #ffffff, 2387px 643px #ffffff,
    2002px 761px #ffffff, 668px 2820px #ffffff, 1185px 2407px #ffffff,
    479px 954px #ffffff, 876px 3375px #ffffff, 2338px 2528px #ffffff,
    1145px 1092px #ffffff, 531px 3524px #ffffff, 2254px 1164px #ffffff,
    1061px 3332px #ffffff, 247px 1006px #ffffff, 700px 3351px #ffffff,
    1068px 3821px #ffffff, 1951px 1484px #ffffff, 896px 1905px #ffffff,
    2012px 2399px #ffffff, 2091px 502px #ffffff, 1122px 1504px #ffffff,
    1029px 1041px #ffffff, 10px 3186px #ffffff, 374px 915px #ffffff,
    1865px 912px #ffffff, 1716px 2651px #ffffff, 253px 3407px #ffffff,
    1358px 3692px #ffffff, 1732px 1720px #ffffff, 1519px 3328px #ffffff,
    794px 3094px #ffffff, 116px 1135px #ffffff, 468px 2712px #ffffff,
    1173px 1169px #ffffff, 2262px 1158px #ffffff, 1900px 3869px #ffffff,
    214px 2611px #ffffff, 2474px 601px #ffffff, 2051px 997px #ffffff,
    1033px 1939px #ffffff, 628px 2479px #ffffff, 1240px 1655px #ffffff,
    966px 293px #ffffff, 247px 3316px #ffffff, 1419px 1570px #ffffff,
    1980px 1558px #ffffff, 1796px 3318px #ffffff, 2144px 2233px #ffffff,
    1625px 3709px #ffffff, 615px 2922px #ffffff, 133px 1327px #ffffff,
    2055px 478px #ffffff, 791px 1698px #ffffff, 362px 862px #ffffff,
    251px 1332px #ffffff, 428px 3476px #ffffff, 2471px 930px #ffffff,
    1775px 1919px #ffffff, 451px 454px #ffffff, 1884px 2265px #ffffff,
    1921px 2045px #ffffff, 711px 3353px #ffffff, 756px 2479px #ffffff,
    633px 2980px #ffffff, 723px 1366px #ffffff, 186px 127px #ffffff,
    2277px 3980px #ffffff, 2479px 3099px #ffffff, 1108px 326px #ffffff,
    1483px 2869px #ffffff, 2112px 3967px #ffffff, 2288px 645px #ffffff,
    777px 3899px #ffffff, 2089px 1323px #ffffff, 547px 845px #ffffff,
    2008px 542px #ffffff, 133px 89px #ffffff, 1827px 3882px #ffffff,
    779px 1823px #ffffff, 906px 1642px #ffffff, 1297px 2475px #ffffff,
    799px 2873px #ffffff, 2181px 2670px #ffffff, 1224px 3925px #ffffff,
    2394px 3997px #ffffff, 206px 2291px #ffffff, 356px 1137px #ffffff,
    299px 590px #ffffff, 2461px 222px #ffffff, 1025px 2454px #ffffff,
    2201px 3146px #ffffff, 409px 909px #ffffff, 1542px 175px #ffffff,
    866px 1122px #ffffff, 980px 3215px #ffffff, 21px 949px #ffffff,
    851px 2931px #ffffff, 1145px 1741px #ffffff, 522px 1045px #ffffff,
    1334px 750px #ffffff, 231px 2816px #ffffff, 1457px 783px #ffffff,
    1167px 3617px #ffffff, 1598px 2446px #ffffff, 608px 1347px #ffffff,
    1219px 1195px #ffffff, 1975px 11px #ffffff, 419px 3720px #ffffff,
    786px 434px #ffffff, 2141px 2057px #ffffff, 267px 3786px #ffffff,
    511px 1308px #ffffff, 1905px 1404px #ffffff, 1514px 1311px #ffffff;
}

.stars-background {
  border-radius: 100%;
  background: transparent;
  animation: animStar 10s linear infinite;
  position: fixed;
  left: 0;
  top: 0;
}

@keyframes animStar {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-2000px);
  }
}
/* Stars Background */
